<!DOCTYPE html>
<html>

<head>
    <script src="js/video_upload.js"></script>
    {{> head}}
</head>

<body>
    {{> nav}}
    <div class="main-margin">
        {{{body}}}
    </div>
    {{> script}}
</body>

</html>