<div id="main-div">
    <div class="text-center">
        <video style="aspect-ratio: auto 16 / 9; width: 80%; min-width: 320px" controls>
            <source src="/video/{{storedFileName}}/play" type="video/mp4" />
            Your browser does not support the <code>video</code> element.
        </video>
    </div>
    <br>
    <strong>Video Details: </strong>{{videoDetails}}
    <br>
    <strong>Video Name: </strong>{{videoName}}
</div>