<div id="main-div">
    <a href="/">Home</a>
    <br>
    <video width="320" height="240" controls>
        <source src="/video/{{storedFileName}}/play" type="video/mp4" />
        Your browser does not support the <code>video</code> element.
    </video>
    <br>
    <strong>Video Details: </strong>{{videoDetails}}
    <br>
    <strong>Video Name: </strong>{{videoName}}
</div>