<div id="main-div">
    <a href="/upload">Upload Files</a>
    <br>
    <form action="/video/search" method="post">
        <label for="search">Search:</label>
        <input type="text" id="search" name="search">
        <input type="submit" value="Submit">
    </form>
    {{#if showListItems}}
    <ul>
        {{#each listItems}}
        <li>
            <a href="/video/{{this.id}}">
                {{this.name}}
            </a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <div>No videos found.</div>
    {{/if}}
</div>